.logo {
    filter: invert();
}


/* card style */

.card-header,
.modal-header {
    color: #3f51b5;
}

.mb-4 {
    margin-top: 1.5rem !important;
}

.table-responsive {
    overflow-x: hidden;
}


/* datatable style */

#dataTable th {
    border: none;
}

#dataTable {
    border-bottom: none;
}

#dataTable tr {
    user-select: none;
    -webkit-user-drag: auto;
}

#dataTable tr:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 1;
    border: none;
}

table.dataTable tbody>tr.selected {
    background-color: #c1cbdfd5 !important;
}

#dataTable td:last-child {
    /* max-width: 50px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-right {
    align-items: right;
    justify-content: right;
}

#dataTable .options {
    background: transparent;
    border: none;
}

#dataTable_wrapper {
    width: 100%;
}

div.dataTables_wrapper div.dataTables_filter input {
    outline: none;
    box-shadow: none;
}

div.dataTables_wrapper div.dataTables_length select {
    outline: none;
    box-shadow: none;
}

.page-item.active .page-link {
    background-color: #3f51b5;
    border-color: #3f51b5;
    outline: none;
    box-shadow: none;
}

.page-link {
    color: #3f51b5;
    outline: none;
    box-shadow: none;
}


/* action buttons in card header */

.action-buttons {
    display: flex;
    flex-direction: initial;
    margin: 0.3em;
    margin-bottom: 0.7em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

.fa-plus-circle,
.fa-copy,
.fa-eye,
.fa-pencil-alt,
.fa-trash,
.fa-check,
.fa-times {
    margin-right: 5px;
}

.create-button,
.copy-button,
.detail-button,
.edit-button,
.delete-button,
.submit-button,
.cancel-button {
    border-radius: 8px;
    margin-right: 10px;
}

.create-button:hover,
.copy-button:hover,
.detail-button:hover,
.edit-button:hover,
.delete-button:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-primary {
    border-color: #3f51b5;
    background-color: #3f51b5;
    color: #ffffff;
    outline: none;
    padding: 3px 9px;
    font-size: 14px;
}

.btn-light {
    border-color: rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    box-shadow: none;
    padding: 3px 9px;
    font-size: 14px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    background-color: #3f51b5 !important;
    border-color: #3f51b5 !important;
    outline: none !important;
    box-shadow: none;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus,
.btn-light:visited {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border-color: rgba(0, 0, 0, 0.05) !important;
    outline: none !important;
    box-shadow: none !important;
}


/* fa fa icon style */

.detail-icon,
.edit-icon,
.delete-icon {
    color: #3f51b5;
}


/* action buttons on datatable's column */

.actions {
    background: transparent !important;
}

.star-o::before {
    content: "\2606";
    /* color: rgb(221, 200, 118); */
    color: #dadce0;
    font-size: 25px;
    font-weight: bolder;
}

.star-active::before {
    content: "\2605";
    /* color: rgb(255, 203, 0); */
    color: #3f51b5;
    font-size: 25px;
    font-weight: bolder;
}

.select-checkbox {
    padding-top: 2px !important;
    cursor: pointer;
}

.selection {
    padding-top: 2px !important;
    cursor: pointer;
}


/* modal input field style */

.form-label {
    margin-bottom: 0;
}

.text-box {
    border: none;
    border-bottom: 2px solid #ced4da;
    box-shadow: none !important;
    margin-bottom: 7px;
}

.text-box:active,
.text-box:focus,
.text-box:visited {
    border-bottom: 2px solid #3f51b5 !important;
}
