.logo {
    filter: invert();
}


/* card style */

.card-header,
.modal-header {
    color: #3f51b5;
}

.mb-4 {
    margin-top: 1.5rem !important;
}

.table-responsive {
    overflow-x: hidden;
}


/* datatable style */

#dataTable th {
    border: none;
}

#dataTable {
    border-bottom: none;
}

#dataTable tr {
    user-select: none;
    -webkit-user-drag: auto;
}

#dataTable tr:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 1;
    border: none;
}

table.dataTable tbody>tr.selected {
    background-color: #c1cbdfd5 !important;
}

#dataTable td:last-child {
    /* max-width: 50px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-right {
    align-items: right;
    justify-content: right;
}

#dataTable .options {
    background: transparent;
    border: none;
}

#dataTable_wrapper {
    width: 100%;
}

div.dataTables_wrapper div.dataTables_filter input {
    outline: none;
    box-shadow: none;
}

div.dataTables_wrapper div.dataTables_length select {
    outline: none;
    box-shadow: none;
}

.page-item.active .page-link {
    background-color: #3f51b5;
    border-color: #3f51b5;
    outline: none;
    box-shadow: none;
}

.page-link {
    color: #3f51b5;
    outline: none;
    box-shadow: none;
}

.hiddenData {
    display: none;
}


/* badges */

.badge-pork {
    display: inline-block;
    font-family: inherit;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 3px;
    background: lightcoral;
    color: rgb(255, 255, 255);
    padding: 6px 6px 3px 6px;
    margin-left: 5px;
    cursor: default;
}

.badge-chicken {
    display: inline-block;
    font-family: inherit;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 3px;
    background: rgb(102, 182, 102);
    color: rgb(255, 255, 255);
    padding: 6px 6px 3px 6px;
    margin-left: 5px;
    cursor: default;
}

.badge-seafood {
    display: inline-block;
    font-family: inherit;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 3px;
    background: rgb(128, 163, 240);
    color: rgb(255, 255, 255);
    padding: 6px 6px 3px 6px;
    margin-left: 5px;
    cursor: default;
}

.badge-beef {
    display: inline-block;
    font-family: inherit;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 3px;
    background: rgb(194, 194, 75);
    color: rgb(255, 255, 255);
    padding: 6px 6px 3px 6px;
    margin-left: 5px;
    cursor: default;
}

.badge-size-small {
    color: #fff;
    width: 20px;
    height: 19px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    margin-right: 5px;
    border-radius: 18px;
    vertical-align: middle;
    background-color: #dfb238;
    margin-left: 5px;
    cursor: default;
}

.badge-size-large {
    color: #fff;
    width: 20px;
    height: 19px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    margin-right: 5px;
    border-radius: 18px;
    vertical-align: middle;
    background-color: #3747d8;
    margin-left: 5px;
    cursor: default;
}

.badge-appetizers {
    font-weight: 600;
    font-size: 13px;
    border: 1px solid rgb(47, 92, 216);
    color: rgb(255, 255, 255);
    background: rgb(47, 92, 216);
    border-radius: 10px;
    cursor: default;
}

.badge-soups {
    font-weight: 600;
    font-size: 13px;
    border: 1px solid rgb(221, 206, 69);
    color: rgb(255, 255, 255);
    background: rgb(221, 206, 69);
    border-radius: 10px;
    cursor: default;
}

.badge-salads {
    font-weight: 600;
    font-size: 13px;
    border: 1px solid rgb(189, 32, 66);
    color: rgb(255, 255, 255);
    background: rgb(189, 32, 66);
    border-radius: 10px;
    cursor: default;
}

.badge-curries {
    font-weight: 600;
    font-size: 13px;
    border: 1px solid rgb(178, 196, 81);
    color: rgb(255, 255, 255);
    background: rgb(178, 196, 81);
    border-radius: 10px;
    cursor: default;
}

.badge-vegetables-dishes {
    font-weight: 600;
    font-size: 13px;
    border: 1px solid rgb(76, 189, 66);
    color: rgb(255, 255, 255);
    background: rgb(76, 189, 66);
    border-radius: 10px;
    cursor: default;
}


/* action buttons in card header */

.action-buttons {
    display: flex;
    flex-direction: initial;
    margin: 0.3em;
    margin-bottom: 0.7em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

.fa-plus-circle,
.fa-copy,
.fa-pencil-alt,
.fa-trash,
.fa-check,
.fa-times {
    margin-right: 5px;
}

.create-button,
.copy-button,
.edit-button,
.delete-button,
.submit-button,
.edit-submit-button,
.danger-button,
.cancel-button {
    border-radius: 8px;
    margin-right: 10px;
}

.create-button:hover,
.copy-button:hover,
.edit-button:hover,
.delete-button:hover,
.submit-button:hover,
.edit-submit-button:hover,
.danger-button:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-primary {
    border-color: #3f51b5;
    background-color: #3f51b5;
    color: #ffffff;
    outline: none;
    padding: 3px 9px;
    font-size: 14px;
}

.btn-danger {
    border-color: #c95959;
    background-color: #c95959;
    color: #ffffff;
    outline: none;
    padding: 3px 9px;
    font-size: 14px;
}

.btn-light {
    border-color: rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    box-shadow: none;
    padding: 3px 9px;
    font-size: 14px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    background-color: #3f51b5 !important;
    border-color: #3f51b5 !important;
    outline: none !important;
    box-shadow: none;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus,
.btn-light:visited {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border-color: rgba(0, 0, 0, 0.05) !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:visited {
    background-color: #c95959 !important;
    border-color: #c95959 !important;
    outline: none !important;
    box-shadow: none !important;
}


/* fa fa icon style */

.copy-icon,
.edit-icon,
.delete-icon {
    color: #3f51b5;
}


/* action buttons on datatable's column */

.actions {
    background: transparent !important;
}

.star-o::before {
    content: "\2606";
    /* color: rgb(221, 200, 118); */
    color: #dadce0;
    font-size: 25px;
    font-weight: bolder;
    /* padding-top: 0px !important; */
}

.star-active::before {
    content: "\2605";
    /* color: rgb(255, 203, 0); */
    color: #3f51b5;
    font-size: 25px;
    font-weight: bolder;
    /* padding-top: 0px !important; */
}

.select-checkbox {
    padding-top: 2px !important;
    cursor: pointer;
}

.selection {
    padding-top: 1px !important;
    cursor: pointer;
}

.text {
    padding-top: 8px !important;
}


/* modal dialog */

.modal-dialog {
    max-width: 655px;
}


/* modal input field style */

#edit_dish_id {
    display: none;
}

.form-label {
    margin-bottom: 0;
}

.text-box {
    border: none;
    border-bottom: 2px solid #ced4da;
    box-shadow: none !important;
    margin-bottom: 7px;
}

.text-box:active,
.text-box:focus,
.text-box:visited {
    border-bottom: 2px solid #3f51b5 !important;
}


/* dish menu */

.dish-menu,
.meat,
.size {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 50%;
}

.dish-menu-outline,
.meat-outline,
.size-outline {
    border-bottom: 2px solid #ced4da;
    min-height: 55px;
}

.size-outline {
    margin-top: -2px;
}

.dish-menu-btn,
.meat-btn {
    color: #212529;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
    outline: none !important;
}

.file {
    visibility: hidden;
    position: absolute;
}

.upload-dish-image {
    margin-top: 3.5rem !important;
}

.img-thumbnail {
    max-width: 100%;
}

.dropdown-toggle {
    max-width: 80%;
    margin-right: 24px;
}